<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <h1>Feel free to contact me at-</h1>
    <h4>{{email}}</h4>
    {{>footer}}
</body>

</html>
