<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    
</head>

<body>
   <div class="main-content">
        {{>header}}
        <p>Get weather updates by searching any location!</p>

        <form>
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>
   </div>
    
    {{>footer}}

    <script src="js/script.js"> </script>
</body>

</html>