<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help page</title>
</head>

<body>
    <h1>Feel free to contact me at-</h1>
    <h4>{{email}}</h4>
</body>

</html>