<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <h1> Hi,there </h1>
    <img src="img/faisal.jpg" alt="">
    <p>I'm {{name}}</p>
    <p>Creator of this {{title}} </p>
</body>

</html>